@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

//FONT
$mainFont: 'Poppins', sans-serif;

//TEXT SIZES
$TextS: 0.8em;
$TextM: 1em;
$TextL: 2em;
$TextXL: 3em;

//FONT WEIGHT
$bold: 600;
