//MIXINS

@mixin background($backgraund-color, $background-size, $padding){
	background-color: $bgColor3;
	background-size: auto;
	padding: 2em;
}
	
//EXTEND

.block-btn{
	width: 100%;
	padding: .7em;
	border: none;
	background: none;
	outline: 0;
	color: $blanco;	
}

.block{
	@extend .block-btn;
	border-bottom: 1px solid #d63031;	
}